body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #333;
    color: rgb(204, 6, 6);
    padding: 20px;
}

nav a {
    color: rgb(1, 38, 245);
    margin-right: 15px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#hero {
    padding: 40px;
    text-align: center;
    background: #f5dddd;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: #ddd;
    padding: 20px;
    width: 150px;
    text-align: center;
}

footer {
    background: #eee;
    text-align: center;
    padding: 15px;
}
