body {
    font-family: Arial;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.card {
    background-color: #eee;
    padding: 20px;
    width: 150px;
    border: 1px solid #333;
}
