body {
    background-color: lightblue;
    font-family: Arial;
}

#titulo-principal {
    color: navy;
    text-align: center;
}

.parrafo {
    color: black;
    font-size: 18px;
    text-align: center;
}
